<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>OPENSEADRAGON TEST VIEWER</title>

    <script src="{{ host_name }}/static/ome_seadragon/js/openseadragon.min.js"></script>
    <script src="{{ host_name }}/static/ome_seadragon/js/jquery-1.11.3.min.js"></script>
    <script src="{{ host_name }}/static/ome_seadragon/js/openseadragon-scalebar.min.js"></script>
    <script src="{{ host_name }}/static/ome_seadragon/js/ome_seadragon.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            {% if mirax %}
                $.get("{{ host_name }}/ome_seadragon/mirax/deepzoom/image_mpp/{{ image_id }}.dzi").done(function(data) {
            {% else %}
                $.get("{{ host_name }}/ome_seadragon/deepzoom/image_mpp/{{ image_id }}.dzi").done(function(data) {
            {% endif %}
                console.log("Loading openseadragon viewer");

                var viewer_config = {
                    'showNavigator': true,
                    'showFullPageControl': false
                };

                window.viewer = new ViewerController(
                        "openseadragon_viewer",
                        "{{ host_name}}/static/ome_seadragon/img/openseadragon/",
                        {% if mirax %}
                            "{{ host_name }}/ome_seadragon/mirax/deepzoom/get/{{ image_id }}.dzi",
                        {% else %}
                            "{{ host_name }}/ome_seadragon/deepzoom/get/{{ image_id }}.dzi",
                         {% endif %}
                        viewer_config
                );
                viewer.buildViewer();

                // Scalebar setup
                var image_mpp = data.image_mpp ? data.image_mpp : 0;
                var scalebar_config = {
                    "xOffset": 10,
                    "yOffset": 10,
                    "barThickness": 5,
                    "color": "#777777",
                    "fontColor": "#000000",
                    "backgroundColor": 'rgba(255, 255, 255, 0.5)'
                };
                viewer.enableScalebar(image_mpp, scalebar_config);

                viewer.viewer.addHandler('open', function () {
                    console.log('Open!');
                    // Ignore lowest-resolution levels in order to improve load times
                    viewer.setMinDZILevel(8);
                });
            });
        });
    </script>
</head>
<body>
    <div id="openseadragon_viewer" style="width: 800px; height: 600px"></div>
</body>
</html>
