<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>OPENSEADRAGON TEST VIEWER</title>

    <link href="{{ host_name }}/static/ome_seadragon/css/bootstrap.min.css" rel="stylesheet">

    <script src="{{ host_name }}/static/ome_seadragon/js/openseadragon.min.js"></script>
    <script src="{{ host_name }}/static/ome_seadragon/js/jquery.min.js"></script>
    <script src="{{ host_name }}/static/ome_seadragon/js/openseadragon-scalebar.min.js"></script>
    <script src="{{ host_name }}/static/ome_seadragon/js/ome_seadragon.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $.get("{{ host_name }}/ome_seadragon/deepzoom/get/{{ image_id }}_metadata.json").done(function (data) {
                console.log("Loading openseadragon viewer");
                var image_mpp = data.image_mpp ? data.image_mpp : 0;


                $("#openseadragon_viewer").height($(window).height() - 20);
                $(window).resize(function () {
                    $('#openseadragon_viewer').height($(window).height() - 20);
                });

                var viewer_config = {
                    'showNavigator': true,
                    'showFullPageControl': false
                };

                window.viewer = new ViewerController(
                    "openseadragon_viewer",
                    "{{ host_name}}/static/ome_seadragon/img/openseadragon/",
                    data.tile_sources,
                    viewer_config
                );
                viewer.buildViewer();

                // Scalebar setup
                var scalebar_config = {
                    "xOffset": 10,
                    "yOffset": 10,
                    "barThickness": 5,
                    "color": "#777777",
                    "fontColor": "#000000",
                    "backgroundColor": 'rgba(255, 255, 255, 0.5)'
                };
                viewer.enableScalebar(image_mpp, scalebar_config);

                viewer.viewer.addHandler('open', function () {
                    console.log('Open!');
                    // Ignore lowest-resolution levels in order to improve load times
                    viewer.setMinDZILevel(8);
                });
            });
        });
    </script>
</head>
    <body>
        <div class="container-fluid">
            <div class="col-md-12" id="openseadragon_viewer" style="height:1px; padding-top:10px; padding-bottom: 10px;"></div>
        </div>
    </body>
</html>
