<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>OPENSEADRAGON TEST VIEWER</title>

    <script src="{{ host_name }}/static/ome_seadragon/js/openseadragon.min.js"></script>
    <script src="{{ host_name }}/static/ome_seadragon/js/jquery-1.11.3.min.js"></script>
    <script src="{{ host_name }}/static/ome_seadragon/js/ome_seadragon.js"></script>
    <script type="text/javascript" src="{{ host_name }}/static/webgateway/js/ome.csrf.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            console.log("Loading openseadragon viewer");

            window.viewer = new ViewerController(
                    "openseadragon_viewer",
                    "{{ host_name}}/static/ome_seadragon/img/openseadragon/",
                    "{{ host_name }}/ome_seadragon/deepzoom/get/{{ image_id }}.dzi"
            );
            viewer.build_viewer();
        });
    </script>
</head>
<body>
    <div id="openseadragon_viewer" style="width: 800px; height: 600px"></div>
</body>
</html>
