<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>OPENSEADRAGON TEST VIEWER WITH INTERACTIVE FREEHAND DRAWING TOOL</title>

    <link href="{{ host_name }}/static/ome_seadragon/css/bootstrap.min.css" rel="stylesheet">

    <style type="text/css">
        #main_frame {
            margin-top: 10px;
            display: table;
        }

        #main_frame_row {
            display: table-row;
        }

        .graphic_element {
            position: absolute;
            height: 600px;
            width: 800px;
        }

        .img_navigator {
            height: 150px;
            width: 200px;
        }

        #toolbar {
            width: 200px;
            display: table-cell;
            text-align: center;
        }

        .toolbar_panel {
            margin-left: 10px;
            margin-right: 10px;
        }

        .del_buttons_panel {
            margin-top: 15px;
        }

        #viewer_panel {
            width: 850px;
            display: table-cell;
        }

        #navigator {
            width: 200px;
            display: table-cell;
            padding: 2px;
        }

        #shape_details {
            width: 200px;
            padding: 2px;
            display: table-cell;
        }

        .sh_ctrl {
            margin-bottom: 10px;
        }

        .glyphicon {
            top: 0px;
        }
    </style>

    <script src="{{ host_name }}/static/ome_seadragon/js/openseadragon.min.js"></script>
    <script src="{{ host_name }}/static/ome_seadragon/js/openseadragon-scalebar.min.js"></script>
    <script src="{{ host_name }}/static/ome_seadragon/js/jquery.min.js"></script>
    <script src="{{ host_name }}/static/ome_seadragon/js/paper-full.min.js"></script>
    <script src="{{ host_name }}/static/ome_seadragon/js/bootstrap.min.js"></script>

    <script src="{{ host_name }}/static/ome_seadragon/js/ome_seadragon.min.js"></script>

    <script type="text/javascript">
        $(document).ready( function () {
            {% if mirax %}
                var mpp_path = "{{ host_name }}/ome_seadragon/mirax/deepzoom/image_mpp/{{ image_id }}.dzi";
                var dzi_path = "{{ host_name }}/ome_seadragon/mirax/deepzoom/get/{{ image_id }}.dzi";
            {% else %}
                var mpp_path = "{{ host_name }}/ome_seadragon/deepzoom/image_mpp/{{ image_id }}.dzi";
                var dzi_path = "{{ host_name }}/ome_seadragon/deepzoom/get/{{ image_id }}.dzi";
            {% endif %}

            $.get(mpp_path).done( function (data) {
                var viewer_config = {
                    'showNavigator': true,
                    'showFullPageControl': false,
                    'animationTime': 0.01,
                    'navigatorId': 'image_navigator'
                };

                window.viewer = new ViewerController(
                        'openseadragon_viewer',
                        '{{ host_name }}/static/ome_seadragon/img/openseadragon/',
                        dzi_path,
                        viewer_config
                );
                viewer.buildViewer();

                var image_mpp = data.image_mpp ? data.image_mpp : 0;
                var scalebar_config = {
                    'xOffset': 10,
                    'yOffset': 10,
                    'barThickness': 5,
                    'color': '#777777',
                    'fontColor': '#000000',
                    'backgroundColor': 'rgba(255, 255, 255, 0.5)'
                };
                viewer.enableScalebar(image_mpp, scalebar_config);

                viewer.viewer.addHandler('open', function() {
                    viewer.setMinDZILevel(8);

                    var polygon_colors = [
                        '#FF0000',
                        '#00FF00',
                        '#0000FF',
                        '#F7409C',
                        '#63FF26',
                        '#FFB800',
                        '#00DEFF'
                    ];

                    var polygon_config = {
                        'fill_alpha': 0.2,
                        'stroke_color': polygon_colors[Math.floor(Math.random() * polygon_colors.length)],
                        'stroke_width': 20
                    };

                    window.annotations_controller = new AnnotationsController('annotations_canvas');
                    annotations_controller.buildAnnotationsCanvas(viewer);
                    viewer.addAnnotationsController(annotations_controller, true);

                    window.events_controller = new AnnotationsEventsController(annotations_controller);

                    events_controller.initializeFreehandDrawingToolPlus(polygon_config, 'start_drawing');

                    var $disable_events = $("#disable_events");
                    var $start_drawing = $("#start_drawing");
                    var $stop_drawing = $("#save_drawing");
                    var $continue_drawing = $("#continue_drawing");
                    var $rollback = $("#rollback");
                    var $abort_drawing = $("#abort_drawing");
                    var $shape_details = $("#shape_details");
                    var $del_btn_group = $("#del_button_group");

                    $shape_details.hide();
                    $continue_drawing.hide();
                    $stop_drawing.hide();
                    $abort_drawing.hide();
                    $rollback.hide();

                    $disable_events.click( function () {
                        annotations_controller.disableMouseEvents();
                        $abort_drawing.hide();
                        $stop_drawing.hide();
                        $start_drawing.show();
                        $disable_events.removeClass('btn-default');
                        $disable_events.addClass('btn-primary');
                    });

                    $start_drawing.click( function () {
                        $disable_events.removeClass('btn-primary');
                        $disable_events.addClass('btn-default');
                        $start_drawing.hide();
                        $abort_drawing.show();
                        $stop_drawing.show();
                        $continue_drawing.hide();
                        $rollback.hide();
                    });

                    $continue_drawing.click( function () {
                        annotations_controller.activateFreehandPlusPreviewMode();
                        annotations_controller.enableMouseEvents();
                    });

                    $rollback.click( function () {
                        var stop_rollback = annotations_controller.rollbackFreehandPathPlus();
                        if (stop_rollback) {
                            $abort_drawing.click();
                        }
                    });

                    $stop_drawing.click( function () {
                        annotations_controller.saveTemporaryFreehandPathPlus();
                        $abort_drawing.hide();
                        $stop_drawing.hide();
                        $start_drawing.show();
                        $continue_drawing.hide();
                        $rollback.hide();
                        $disable_events.click();
                    });

                    $abort_drawing.click( function () {
                        annotations_controller.clearTemporaryFreehandPlus();
                        $abort_drawing.hide();
                        $stop_drawing.hide();
                        $start_drawing.show();
                        $continue_drawing.hide();
                        $rollback.hide();
                        $disable_events.click();
                    });

                    var build_shape_controls = function(shape_id) {
                        var shape_counter = shape_id.split('_')[1];
                        var shape_details_id = 'sh_' + shape_counter + '_det';
                        var shape_delete_id = 'sh_' + shape_counter + '_del';
                        var $sh_ctrl = $(
                                "<div id='" + shape_id + "' class='input-group sh_ctrl'>" +
                                    "<input type='text' value='SHAPE " + shape_counter +"'" +
                                        " class='form-control' readonly='true'>" +
                                    "<span id='" + shape_details_id + "'" +
                                        " class='input-group-addon glyphicon glyphicon-eye-open'></span>" +
                                    "<span id='" + shape_delete_id + "'" +
                                        " class='input-group-addon glyphicon glyphicon-remove-circle'></span>" +
                                "</div>"
                        );
                        $del_btn_group.append($sh_ctrl);

                        var $shape_details = $('#' + shape_details_id);
                        $shape_details.data('shape_id', shape_id);
                        var $shape_delete = $('#' + shape_delete_id);
                        $shape_delete.data('shape_id', shape_id);

                        $shape_details
                                .mouseenter( function() {
                                    show_shape_details($shape_details.data('shape_id'));
                                })
                                .mouseleave( function () {
                                    hide_shape_details();
                                })
                                .click( function () {
                                    viewer.jumpToShape($shape_details.data('shape_id'), true);
                                });

                        $shape_delete.click ( function() {
                            annotations_controller.deleteShape($shape_delete.data('shape_id'));
                            $('#' + $shape_delete.data('shape_id')).remove();
                        })
                    };

                    var show_shape_details = function(shape_id) {
                        annotations_controller.selectShape(shape_id);
                        var shape_dimensions = annotations_controller.getShapeDimensions(shape_id);
                        $('#shape_id_value').val(shape_id);
                        $('#shape_area_value').val(
                                Number((shape_dimensions['area'] / (1000*1000)).toFixed(3))
                        );
                        $('#shape_perimeter_value').val(
                                Number((shape_dimensions['perimeter'] / 1000).toFixed(3))
                        );
                        $shape_details.show();
                    };

                    var hide_shape_details = function() {
                        annotations_controller.deselectShapes();
                        $('#shape_id_value').val('');
                        $('#shape_area_value').val('');
                        $('#shape_perimeter_value').val('');
                        $shape_details.hide();
                    };

                    var $acanvas = $("#annotations_canvas");

                    $acanvas.on('freehand_polygon_plus_paused', function(event, polygon_id) {
                        annotations_controller.disableMouseEvents();
                        $continue_drawing.show();
                        $rollback.show();
                    });

                    $acanvas.on('freehand_polygon_plus_saved', function(event, polygon_id) {
                        $disable_events.click();
                        build_shape_controls(polygon_id);
                        polygon_config.stroke_color = polygon_colors[Math.floor(Math.random() * polygon_colors.length)];
                    });
                });
            });
        });

    </script>
</head>
<body>
    <div id="main_frame">
        <div id="main_frame_row">
            <div id="toolbar">
                <div class="row toolbar_panel">
                    <a id="disable_events" href="#"
                       class="btn btn-primary btn-block" role="button">Navigation Mode</a>
                    <a id="start_drawing" href="#"
                       class="btn btn-info btn-block" role="button">Draw Shape</a>
                    <a id="abort_drawing" href="#"
                       class="btn btn-danger btn-block" role="button">Abort Drawing</a>
                    <a id="continue_drawing" href="#"
                       class="btn btn-primary btn-block" role="button">Resume Drawing</a>
                    <a id="rollback" href="#"
                       class="btn btn-warning btn-block" role="button">Go one step back</a>
                    <a id="save_drawing" href="#"
                       class="btn btn-primary btn-block" role="button">Save Shape</a>
                </div>
                <div class="toolbar_panel del_buttons_panel">
                    <ul id="del_button_group" class="nav nav-pills nav-stacked"></ul>
                </div>
            </div>
            <div id="viewer_panel">
                <div id="openseadragon_viewer" class="graphic_element"></div>
                <canvas id="annotations_canvas" class="graphic_element"></canvas>
            </div>
            <div id="navigator">
                <div class="row">
                    <div id="image_navigator" class="img_navigator"></div>
                </div>
                <div id="shape_details">
                    <div id="shape_id">
                        Shape ID
                        <div>
                            <input type="text" readonly="true"
                                   class="form-control" id="shape_id_value">
                        </div>
                    </div>
                    <div id="shape_area">
                        Shape Area
                        <div class="input-group">
                            <input type="text" readonly="true"
                                   class="form-control" id="shape_area_value">
                            <span class="input-group-addon">mm&sup2;</span>
                        </div>
                    </div>
                    <div id="shape_perimeter">
                        Shape Perimeter
                        <div class="input-group">
                            <input type="text" readonly="true"
                                   class="form-control" id="shape_perimeter_value">
                            <span class="input-group-addon">mm</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>