<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>OPENSEADRAGON TEST VIEWER WITH ANNOTATIONS</title>

    <link href="{{ host_name }}/static/ome_seadragon/css/bootstrap.min.css" rel="stylesheet">

    <style type="text/css">
        #graphic_container {
            position: relative;
            padding: 0;
        }

        .graphic_element {
            width:100%;
            height: 10px;
            position: absolute;
            padding: inherit;
        }
    </style>

    <script src="{{ host_name }}/static/ome_seadragon/js/openseadragon.min.js"></script>
    <script src="{{ host_name }}/static/ome_seadragon/js/openseadragon-scalebar.min.js"></script>
    <script src="{{ host_name }}/static/ome_seadragon/js/jquery.min.js"></script>
    <script src="{{ host_name }}/static/ome_seadragon/js/paper-full.min.js"></script>

    <script src="{{ host_name }}/static/ome_seadragon/js/ome_seadragon.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $.get("{{ host_name }}/ome_seadragon/deepzoom/image_mpp/{{ image_id }}.dzi").done(function(data) {
                console.log("Loading openseadragon viewer");

                $("#openseadragon_viewer").height($(window).height() - 60);
                $(window).resize(function() {
                    $('#openseadragon_viewer').height($(window).height() - 60);
                });

                var viewer_config = {
                    'showNavigator': true,
                    'showFullPageControl': false,
                    'animationTime': 0.01,
                    'toolbar': 'toolbar'
                };

                window.viewer = new ViewerController(
                        "openseadragon_viewer",
                        "{{ host_name}}/static/ome_seadragon/img/openseadragon/",
                        "{{ host_name }}/ome_seadragon/deepzoom/get/{{ image_id }}.dzi",
                        viewer_config
                );
                viewer.buildViewer();

                // Scalebar setup
                var image_mpp = data.image_mpp ? data.image_mpp : 0;
                var scalebar_config = {
                    "xOffset": 10,
                    "yOffset": 10,
                    "barThickness": 5,
                    "color": "#777777",
                    "fontColor": "#000000",
                    "backgroundColor": 'rgba(255, 255, 255, 0.5)'
                };
                viewer.enableScalebar(image_mpp, scalebar_config);

                viewer.viewer.addHandler('open', function () {
                    viewer.setMinDZILevel(8);

                    window.annotations_canvas = new AnnotationsController('annotations_canvas');
                    annotations_canvas.buildAnnotationsCanvas(viewer);
                    viewer.addAnnotationsController(annotations_canvas, true);
                    // get ROIs from OMERO and draw them
                    var request = $.ajax({
                        url: "{{ host_name }}/ome_seadragon/get/image/{{ image_id }}/",
                        data: {'rois': true},
                        dataType: "json"
                    });
                    request.success(function (data) {
                        for (var roi in data.rois) {
                            var shapes = data.rois[roi].shapes;
                            for (var shape in shapes) {
                                var shape_type = shapes[shape].type;
                                var shape_config = {
                                    'fill_color': shapes[shape].fillColor,
                                    'fill_alpha': shapes[shape].fillAlpha,
                                    'stroke_color': shapes[shape].strokeColor,
                                    'stroke_alpha': shapes[shape].strokeAlpha,
                                    'stroke_width': shapes[shape].strokeWidth
                                }

                                switch (shape_type) {
                                    case "Rectangle":
                                        annotations_canvas.drawRectangle(
                                                shapes[shape].id, shapes[shape].x, shapes[shape].y,
                                                shapes[shape].width, shapes[shape].height,
                                                TransformMatrixHelper.fromOMETransform(shapes[shape].transform),
                                                shape_config, false
                                        );
                                        break
                                    case "Ellipse":
                                        annotations_canvas.drawEllipse(
                                                shapes[shape].id, shapes[shape].cx, shapes[shape].cy,
                                                shapes[shape].rx, shapes[shape].ry,
                                                TransformMatrixHelper.fromOMETransform(shapes[shape].transform),
                                                shape_config, false
                                        );
                                        break;
                                    case "Line":
                                        annotations_canvas.drawLine(
                                                shapes[shape].id, shapes[shape].x1, shapes[shape].y1,
                                                shapes[shape].x2, shapes[shape].y2,
                                                TransformMatrixHelper.fromOMETransform(shapes[shape].transform),
                                                shape_config, false
                                        );
                                        break;
                                    default:
                                        console.warn('Unable to handle shape type ' + shape_type);
                                }
                            }
                        }
                        annotations_canvas.refreshView();
                    });
                });
            });
        });
    </script>
</head>
<body>
    <div class="container-fluid">
        <div id="toolbar" style="height: 40px"></div>
        <div id="graphic_container" class="col-md-12">
            <div id="openseadragon_viewer" class="graphic_element"></div>
            <canvas id="annotations_canvas" class="graphic_element"></canvas>
        </div>
    </div>
</body>
</html>
